<config>
	<url>http://www.ojisuan.com</url>
	<title>ojisuan.com(o计算)-Ooo的个人博客</title>
	<description>ojisuan是一个专注于计算机技术、电子技术的个人博客。关注Modern C++，线程安全、数据结构与算法，设计模式，图形界面技术，并发服务器技术、编译器、解释器、操作系统原理与实现、并行计算，异构计算等相关技术。网站中提供了大量的实践例子与相关源码实现。</description>
	<keywords>c/c++,Modern c++,数据结构,算法,设计模式,图像界面,MFC,QT,服务器,编译器,解释器,操作系统,线程,同步,并发,并行,异构计算,cuda,源代码</keywords>
	<logo_text>ojisuan.com(o计算)</logo_text>
	<logo_description>ojisuan.com(o计算)-Ooo的个人博客--专注于计算机技术、电子技术的个人网站</logo_description>
	<page_item_number>10</page_item_number>
	<home_star_number>6</home_star_number>
	<navigation>
		<item name="home">首页</item>
		<item name="class">分类</item>
		<item name="tag">标签</item>
		<item name="star">星标</item>
		<item name="archive">归档</item>
		<item name="about" redirect="/?md=_post/关于本站.txt">关于</item>
	</navigation>
	<email>978831608@qq.com</email>
</config>